#main h1 {
  margin-top: 0px;
  padding-top: 0.5em;
}

.afficherRegion {
  padding-left: 0.5em;
}

.afficherRegion table {
  width: calc(100% - 1em);
}

.afficherRegion td,
.afficherRegion th {
  border: 1px solid;
  padding: 0.5em;
}

a {
  color: white;
}

table tr.ligne {
  cursor: pointer;
}

.aucuneRegionChoisie,
.afficherRegion {
  min-height: 100vh;
}

.schema-cellule {
  text-align: center;
}

pre.schema {
  font-size: 0.6em;
  font-weight: bold;
}

.schema-select-area {
  display: flex;
  font-size: 0.8em;
}
